input {
    background-color: #777777;
    border-radius: 5px;
    border-color: #777777;
    color: white;
}
input:focus {
    background-color: rgb(232, 240, 254);
    color: #111111;
}
input:after {
    background-color: rgb(232, 240, 254);
    color: #111111;
}